<%- include('header.ejs') %>

<form method="post" action="record">
    <input type="text" name="espece">
    <input type="text" name="envergure">
    <input type="number" min="0.00" name="poids">
    <input type="submit" value="record" >
 </form>